* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #e0c57f;
}

.weather {
    background-color: blueviolet;
    width: 30vw;
    height: 70vh;
    border-radius: 1rem;
    margin-top: 5rem;
    margin-left: 34rem;
}

.heading {
    line-height: 5rem;
    font-size: 3rem;
    text-align: center;
    color: blue;
    background-color: rgb(217, 217, 100);
    height: 5rem;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.humidity,
.wind-speed {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.container input {
    padding-left: 1rem;
    width: 22rem;
    height: 3rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    font-size: 1.25rem;
}

.container button {
    outline: none;
    border: none;
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 50%;
}

.container button img {
    height: 1.5rem;
}

.showIcon {
    text-align: center;
    margin-top: 1rem;
}

.showIcon img {
    height: 10rem;
    width: 10rem;
}

.showTemp {
    margin-top: 1rem;
    text-align: center;
    color: white;
}

.temp {
    font-size: 3.5rem;
    font-weight: bolder;
}

.city {
    margin-top: 1rem;
    font-size: 2.5rem;
}

.footer {
    color: white;
    margin-top: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.footer img {
    height: 2.5rem;
}

.footer p {
    font-size: 1.5rem;
}

.icons {
    margin-left: 0.5rem;
}

.msg {
    color: white;
    margin-left: 2rem;
    margin-top: 1.5rem;
    font-size: 2rem;
    margin-left: 40rem;
}

.hide {
    display: none;
}